__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

# Data
data/pretrain/raw/*
!data/pretrain/raw/README.md

# Model
model/tokenizer/*
!model/tokenizer/README.md
model/pretrain/*
!model/pretrain/README.md